	#enTete{
	/*background-color: red;*/
	text-align: center;
	background :url('../Images/2014-Nissan-370Z-Nismo-2.jpg') no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	}

	#bas{
	text-align: center;
	background :url('../Images/auto2.jpg') no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	}
	h1{
	color:black;
	font-family:"Times New Roman";
	font-style:italic;
	font-size:60px;
	}
	#auto{
	color:red;
	font-family:"Times New Roman";
	font-size:60px;
	}

	body{
	background-color: white;
	}

	#coGauche{
	background-color: #101010;
	}

	#Gauche{
	background-color: #780000 ;
	}

	#Droite{
	background-color: #780000;
	}

	#boutonPanier{
	color:black;
	position:absolute;
	right:120px;
	top:200px;
	font-size:20px;
	}
	
	#infoClient{
	color:white;
	}

	#boutonDossier{
	color:black;
	position:absolute;
	right:10px;
	top:200px;
	font-size:20px;
	}
	#boutonCommander{
	color:black;
	position:absolute;
	right:225;
	top:200px;
	font-size:20px;
	}


	#boutonCatalogue{
	color:black;
	position:absolute;
	top:250px;
	font-family:"Times New Roman";
	font-size:25px;
	}
	#boutonCate{
	color:black;
	position:absolute;
	top:300px;
	font-family:"Times New Roman";
	font-size:25px;
	}

	#boutonPolitique{
	color:black;
	position:absolute;
	top:300px;
	font-family:"Times New Roman";
	font-size:25px;
	}

	#boutonAuthen{
	color:black;
	position:absolute;
	top:350;
	font-family:"Times New Roman";
	font-size:20px;
	}

	#boutonFermer{
	color:black;
	position:absolute;
	top:350;
	font-family:"Times New Roman";
	font-size:25px;
	}
	
	#produit{
	color:black;
	position:absolute;
	top:400;
	font-family:"Times New Roman";
	font-size:25px;
	}
	
	#produit1{
	color:black;
	position:absolute;
	top:450;
	font-family:"Times New Roman";
	font-size:25px;
	}
	
	#produit2{
	color:black;
	position:absolute;
	top:500;
	font-family:"Times New Roman";
	font-size:25px;
	}

	#boutonMotPasse{
	color:black;
	position:absolute;
	top:400;
	font-family:"Times New Roman";
	font-size:22px;
	}

	#menu{
	text-align: center;
	background-color: #101010;
	color: white;
	text-decoration:underline;
	font-size:20px;
	}

	#catalogue{
	text-align: center;
	background-color: #101010   ;
	color: white;
	}

	img{
	width:100px;
	}

	#recherche{
	position:absolute;
	top:250px;
	left:1075 px;
	font-family:"Times New Roman";
	font-size:25px;
	}

	#panier{
	width:35px;
	}

	#afficheImage{
	width:400px;
	}

	#texteFenetre{
	color: white;
	}

	#panierHaut{
	position:absolute;
	top:250px;
	font-family:"Times New Roman";
	font-size:25px;
	}

	#textePanier{
	color: white;
	}

	#nomPanier{
	color: white;
	}

	#taxe{
	color: white;
	}

	#viderPanier{
	position:absolute;
	top:325px;
	}

	#modifierPanier{
	position:absolute;
	top:700px;
	left: 220px;
	}

	#politique{
	color: white;
	}

	#panierVide{
	color: white;
	}

	#inscription{
	color: white;
	}

	#connection{
	position:absolute;
	top:175;
	color: red;
	left:100 px;
	font-family:"Times New Roman";
	font-size:25px;
	}

	.rouge{
	color : red;
	}

	#rouge{
	color : red;
	}
	
	#boutonPassees{
	color:black;
	position:absolute;
	top:550px;
	font-family:"Times New Roman";
	font-size:22px;
	}



	}